* {
  margin: 0;
  padding: 0;
}

/* styling of the body */
body {
  width: 75%;
  margin: auto;
}

#top {
  font-size: xx-large;
  font-weight: bolder;
  color: darkslategrey;
}
/* styling of the footer */
.footer {
  align-self: center;
  width: 40%;
  margin: auto;
}
